.logo{
    width:5%;
    float:left;
}
body{
margin:0;
text-align: center;

}
ul{
    list-style-type: none;
    margin:0;


  


}
li{
    display:inline-block;
   margin:2px;
   padding:20px;
 
    font-size: .75rem;
   color:white

}
.nav{
    width:100%;
    display:inline-block;
    height: 6%;
    background-color: black;

    text-align: right;
    margin-bottom: 10px;

}

.topcontainer{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 12%, rgba(248,254,255,0.7067869384081757) 91%);
    text-align: center;
    margin:0 auto 80px auto;
}
.batimg{
    position: absolute;
    top:330px;
    right:500px;
    width:8%;

}
.hauntedbatimg{
    width:20%;
    position:absolute;
    left:60px;
    top:200px
}
.villa{
    position: relative;
    bottom:100px;
    top:50px;
width:30%
} 
hr{
    
border-style:dotted;
border-bottom: 0;

    width:5%;
    border-width: 8px;
    margin:10px auto;

}
.about{
 width: 40%;
 margin:40px auto;
 line-height: 2em;

}
.profile{
   width:200px; 
   float:left;
   margin-right: 30px;
}
.cod{
width:40%;
 margin:40px auto;
 line-height: 2em;


}
.code{
    width:200px; 
   float:right;
   margin-left: 30px;
}
.webd{
    width:40%;
    margin:40px auto;
    line-height: 2em;
}
.web{
    width:200px;
    float:left;
    margin-right:30px;
}
.Hobbies{
    width:40%;
    margin:40px auto 70px auto;
    line-height: 2em;
}
.books{
    width:145px;
    float:right;
    margin-left:30px;
}
.bottomcontainer{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgba(248,254,255,0.7067869384081757) 100%);
margin:0;

}
h4{
    display:inline-block;
    padding:0 auto;
    margin:0;
}
.insta{
    width:20px;
   position: relative;
   top:5px;
   padding-left: 5px;
}
hr:hover{
    border-color: grey;
    border-width:10px;
}
h2{
    font-family: 'Satisfy', cursive;
font-family: 'Titan One', cursive;
}
p{
    font-family: 'Roboto Slab', serif;
font-family: 'Satisfy', cursive;
font-family: 'Titan One', cursive;
}